{% extends "core/base.html" %}
{% load static %}




{% block contenido %}
        <div id="contenido">


            <div id="sectiongaleria">
                <h1>Galería Fotográfica</h1>

                <div class="galeriaimg">
                    <img src="{% static 'img/galeria 1.png' %}">
                    <img src="{% static 'img/galeria2.png' %}">
                    <img src="{% static 'img/galeria3.png' %}">
                    <img src="{% static 'img/galeria5.png' %}">
                    <img src="{% static 'img/galeria6.png' %}">
                    <img src="{% static 'img/galeria7.png' %}">
                </div>
            </div>

        </div>

{% endblock contenido %}









</body>

</html>